<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Analytics - About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<div style="text-align: center; padding-bottom: 15px; margin-top: 40px;">
    <a href="/"> <i class="fas fa-chart-area" style="font-size: 60px;"></i> </a>

</div>

<div class="content" style="padding-left: 20%; padding-right: 20%">
    <h1 class="title is-1"> About Infinity Analytics </h1>
    <hr/>
    <h2> Site Metrics Made Simple </h2>
    Infinity Analytics is an analytics platform for websites built with Flask that only tracks two things: the pages
    that are viewed and the HTTP referrers.
    <hr/>

    <h2> View The Code </h2>
    This whole system is open source and can be viewed on GitLab.
    The flask server code can be found at <a href="https://gitlab.com/infinitysearch/infinity-analytics">
    https://gitlab.com/infinitysearch/infinity-analytics</a>
    and the dashboard code can be found at <a href="https://gitlab.com/infinitysearch/infinity-analytics-dashboard">
    https://gitlab.com/infinitysearch/infinity-analytics-dashboard</a>.

    <hr/>

    <h2> Send Us A Message </h2>
    Have any questions or recommendations about Infinity Analytics?
    You can contact us through email at <a href="mailto:infinitysearch@protonmail.com">
    infinitysearch@protonmail.com </a>

</div>

</body>

</html>
