<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Infinity Analytics </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div>
    <div style="margin-left: 16.5%; margin-right: 16.5%; padding-top: 2%;">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="icon"><i class="fas fa-chart-area" style="font-size: 30px;"></i></span>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/?d=today" class="navbar-item">
                        Today
                    </a>
                    <a href="/?d=yesterday" class="navbar-item">
                        Yesterday
                    </a>
                    <a href="/?d=seven_days" class="navbar-item">
                        Last 7 Days
                    </a>
                    <a href="/?d=thirty_days" class="navbar-item">
                        Last 30 Days
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Custom Range
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                <form action="/" method="post">
                                    Start Date:
                                    <input type="date" id="start_date" name="start_date">
                                    <br>
                                    End Date: <input type="date" id="end_date" name="end_date">
                                    <br><br>
                                    <button class="button is-link">Submit</button>
                                </form>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                <form action="/custom_days_back" method="post">
                                    Get Last <input type="text" id="last_x_days" name="last_x_days"> Days
                                    <br><br>
                                    <button class="button is-link">Submit</button>
                                </form>
                            </a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a href="/about" class="navbar-item">
                                About
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="/logout" class="button is-light">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="columns">
            <div class="column">

            </div>
            <div class="column">

            </div>
            <div class="column">

            </div>
            <div class="column"></div>
        </div>

        <div class="columns is-centered">
            <div class="column"
                 style="background: linear-gradient(rgb(141,171,249), rgb(140,180,248)); border-radius: 5px;">
                <div class="content">
                    <div class="title is-5" style="text-align: center"> {{ current }}</div>
                </div>
            </div>
        </div>
        <br>

        <div class="columns is-centered">

            <div class="column" style="background-color: lightgrey; border-radius: 5px;">
                <div style="width: 50%; float:left; text-align: center">
                    <div class="title is-5" style="text-align: center; color: #407cde"> Page Views:
                        {{total_page_views}}
                    </div>
                </div>

                <div style="width: 50%; float:right; text-align: center">
                    <div class="title is-5" style="text-align: center;  color: green"> Referrer Views:
                        {{total_referrer_views}}
                    </div>
                </div>

            </div>

        </div>

        <br>

        <div class="columns">
            <div class="column" style="background-color: lightgrey; border-radius: 5px;">
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <br>

        <div class="columns is-centered">
            <div class="column"
                 style="background-color: lightgrey; border-bottom-left-radius: 5px; border-top-left-radius: 5px;">
                <div class="content" style="overflow:scroll !important; height:400px !important;">
                    <div class="table-container">
                        <table class="table is-hoverable" style="border-radius: 5px;">
                            <thead>
                            <tr>
                                <th>Page</th>
                                <th>Views</th>
                            </tr>
                            </thead>
                            {% for key, value in pages.items() %}
                            <tr>
                                <td><a href="{{website_name}}{{key}}"> {{ key }} </a></td>
                                <td> {{ value }}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
            <div class="column"
                 style="background-color: lightgrey; border-bottom-right-radius: 5px; border-top-right-radius: 5px;">
                <div class="content" style="overflow:scroll !important; height:400px !important;">
                    <div class="table-container">
                        <table class="table t_scroll" style="border-radius: 5px;">
                            <thead>
                            <tr>
                                <th>Referrer</th>
                                <th>Views</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for key, value in referrers.items() %}
                            <tr>
                                <td><a href="{{key}}"> {{ key }} </a></td>
                                <td> {{ value }}</td>
                            </tr>

                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<script>
    document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var speedCanvas = document.getElementById("myChart");

// Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 19;

var dataFirst = {
    label: "Page Views",
    data:// [0, 59, 75, 20, 20, 55, 40],
    [{% for data in page_chart_data %}
        '{{data[1]}}',
    {% endfor %}],
    lineTension: 0,
    fill: false,
    borderColor: '#407cde',
        // pointRadius : '10',

  };

var dataSecond = {
    label: "Referrer Views",
    data: //[20, 15, 60, 60, 65, 30, 70],
    [{% for data in referrer_chart_data %}
        '{{data[1]}}',
    {% endfor %}],

    lineTension: 0,
    fill: false,
  borderColor: 'green',
                // pointRadius : '10',
  };

var speedData = {
  labels: //["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
    [{% for date in ordered_dates %}
        '{{date}}',
    {% endfor %}],


  datasets: [dataFirst, dataSecond]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 60,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions
});

</script>
</body>
</html>