<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Infinity Analytics - Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body style="margin-left: 20%; margin-right: 20%; margin-top: 12%;">
<form action="/login" method="post">
    <div class="content" style="margin: 10% 20% 20% 20%">
        <h1 style="text-align: center"><a href="/login"> <i class="fas fa-chart-area"></i> </a>
            &nbsp;Infinity Analytics Login </h1>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Username" name="username">
                <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" name="password">
                <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-primary" style="background-color: rgb(50, 115, 220)">
                    Login
                </button>
            </p>
        </div>
    </div>
</form>
</body>
</html>